.headshot {
    width: 100%;
    margin: 0;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

#resume-btn {
    background-color: var(--blue);
    color: white;
    margin-right: 15px;
    margin-bottom: 15px;
}

#story-btn {
    background-color: var(--blue);
    color: white;
    margin-bottom: 15px;
}

.btn:hover {
    opacity: 95%;
}

/* tablet size */
@media screen and (min-width: 505px) {
    .about-res {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 25px;
    }

    .headshot {
        padding-left: 25px;
        padding-right: 15px;
        width: 300px;
        height: 100%;
    }
}
