/* borders */
.site-top-border {
    border-top: 15px solid var(--blue);
    margin: 0;
    width: 100vw;
}

footer {
    margin-top: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

/* this keeps footer at the bottom */
.footer-pin {
    position: relative;
    left: 0;
    bottom: 0;
}

/* navigation bar */
nav {
    background-color: #f0f8ff;
    width: 100%;
    height: 110px;
}

/* 'sf' logo */
.logo-container {
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
}

.img-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* menu for 'about' and 'projects' */
.hamburgerlink-container {
    list-style: none;
    text-align: center;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 25px;
    background-color: rgb(217, 228, 244);
}

.nav-link-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 50px;
    right: 30px;
}

.nav-link-styles {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    margin-right: 40px;
}

.active {
    color: var(--blue);
}

.nounderline {
    border-bottom: 3px solid #f0f8ff; 
    padding-bottom:0px;
}

/* contact links */
.icons-container img {
    max-width: 20px;
    max-height: 20px;
    margin-bottom: 25px;
}

.social-icons {    
    margin-left: 9px; 
    margin-right: 9px;
}

/* hamburger button */
.hamburger {
    position: absolute;
    top: 43px;
    right: 40px;
    width: 35px; 
    height: 25px;
}

.hamburger .bar {
    height: 6px; 
    background-color: var(--blue);
    margin-bottom: 5px;
}