@import url(https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap);

:root {
  --gray: #666B72;
  --black: #000000;
  --blue: #3253B6;
}

/* container width for whole site */
/* note: min-height is what keeps footer at bottom by calculating the height of the rest of the site minus footer + header */
.body-container {
  margin-left: 25px;
  margin-right: 25px;
  min-height: calc(100vh - 210px);
}

body {
  margin: 0;
}

/* to remove underline for 'a' tags */
.link-styles {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

.blue-link {
  color: var(--blue);
  text-decoration: none;
  word-break: break-all; 
}

/* logo titles */
.logo-title {
  color: var(--blue);
  font-family: 'Raleway';
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.logo-subtitle {
  font-family: 'Lato';
  color: black;
  font-size: 16px;
}

/* other text */
h1 {
  color: var(--blue);
  font-family: 'Lato';
}

h3 {
  color: var(--blue);
  font-family: 'Lato';
}

p {
  font-size: 17px;
}

/* tablet size */
@media screen and (min-width: 505px) {
  .body-container {
    margin-right: 100px;
    margin-left: 100px;
  }

}

/* desktop size */
@media screen and (min-width: 1000px) {
  .body-container {
    margin-left: calc(50vw - 400px);
    margin-right: calc(50vw - 400px);
  }
}