/* project page thumbnails */
.project-titles {
font-family: 'lato';
color: var(--blue);
}

.project-thumbnails {
  width: 100%;
  box-shadow: 1px 1px 3px var(--gray);
  margin-bottom: 5px;
}

.last-project {
  margin-bottom: 40px;
}

.proj-bg {
  background-color: rgb(247, 248, 253) !important;
  margin-top: 50px;
}

/* image for individual project page */
.project-hero {
  width: 100%;
  box-shadow: 1px 1px 3px var(--gray);
  margin-bottom: 5px;
}

/* formatting of the technologies list */
.tech-list {
    padding-left: 0;
    font-size: 18px;
    margin-bottom: 30px;
  }

li {
    list-style: none;
  }

/* large mobile size */
@media screen and (min-width: 350px) {
  .project-thumbnails {
    width: 300px;
    margin: 18px;
  }

  .project-titles {
    text-align: center;
  }
}

  /* tablet size */
@media screen and (min-width: 505px) {
  .project-res {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    flex-flow: row wrap;
  }

  .project-titles {
    text-align: center;
  }
}

